{% extends 'base.html' %}

{% block conteudo %} 
    <h1 class="mt-5">Minha agenda</h1>
    
    <table class="table">
    <thead>
        <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <a href="#"> Linda</a>
        </td>
        <td>Dotto</td>
        <td>+55 055 9921-3055</td>
        <td>Família</td>
        </tr>
        <tr>
        <td>
            <a href="#"> Érico</a>
        </td>
        <td>Weber</td>
        <td>+55 055 9134-4031</td>
        <td>Amigos</td>
        </tr>
        <tr>
        <td>
            <a href="#"> Maria</a>
        </td>
        <td>Branco</td>
        <td>+55 24 98838-7795</td>
        <td>Família</td>
        </tr>
        <tr>
            <td>
                <a href="#"> Darth</a>
            </td>
            <td>Vader</td>
            <td>+104 12 123-838-7795</td>
            <td>Vilão</td>
            </tr>
    </tbody>
    </table>

{% endblock %}
